* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --button-color: #1992D4;
    --white: #FFFFFF;
    --dark-yellow: #F0B429;
    --grey: #E2E8F0;
    --black: #000000;
    --dark-grey: #727272;
}

img[src*=svg] {
    width: 30px;
    cursor: pointer;
}

img[src*=png] {
    width: 80px;
}

body {
    background-color: var(--grey);
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: inherit;
}

/* header */
.header {
    background-color: var(--white);
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* First Row Header */
.first-row-header {
    display: flex;
    align-items: center;
}

.search-container {
    width: 70%;
    height: 50%;
    display: flex;
    gap: 15px;
    flex-shrink: 1;
}

.profile-container > img[alt*="Green"] {
    width: 65px;
}

.search-bar {
    background-color: var(--grey);
    width: 90%;
    padding: 10px;
    border-radius: 50px;
}

.profile-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    flex-shrink: 1;
}

.profile-container > span {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Second Row Header */
.second-row-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-detail {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.account-name span {
    font-weight: bold;
    font-size: 0.9rem;
}

.account-name h2{
    margin-top: 5px;
}

.buttons {
    display: flex;
    width: 50%;
    gap: 20px;
    justify-content: end;
}

button {
    background-color: var(--button-color);
    border-radius: 10em;
    padding: 10px;
    width: 15%;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 1.05rem;
    cursor: pointer;
}

/* sidebar */
.sidebar {
    background-color: var(--button-color);
    padding: 1em 1.3em;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.logo img[src="media/icon/account-box.svg"] {
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-content img[src*=svg] {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.logo,
.sidebar-content > div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.sidebar-content a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}

/* article */
.article {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 3em;
    gap: 30px;
}

.article h2 {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

/* Projects */
.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.project-content > div {
    padding: 30px;
    height: 250px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border-left: 10px solid orange;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.project-content p,
.ann-content > div > p {
    color: var(--dark-grey);
}

.icons {
    display: flex;
    justify-content: end;
    gap: 30px;
}

.icons img {
    width: 25px;
}

/* Announcements */
.ann-content {
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.ann-content > div {
    padding: 15px 5px;
}

.ann-content > div + div {
    border-top: 2px solid var(--grey);
}

.ann-content > div > span {
    font-weight: 500;
}

.ann-content > div > p {
    font-size: 0.8rem;
}

/* Trending */
.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-content {
    background-color: var(--white);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 13px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

div[class="trending-content"] > div {
    display: flex;
    gap: 20px;
}

.trending-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-text p:first-child {
    font-weight: 500;
}

.trending-text p:last-child {
    color: var(--dark-grey);
}

.article-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}